@{
    var cssPath = $"/css/{Sitecore.Context.Site.Name}/{Sitecore.Context.Device.Name}.css";
}

<!DOCTYPE html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @CacheBuster.AddCssWithCacheBuster(cssPath)

    @CacheBuster.BuildCacheBusterVariable(@"/js/desktop.js")
    <script type="text/javascript" src="/js/vendor/require.js"></script>
    @CacheBuster.AddJsWithCacheBuster(@"/js/desktop.js")

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
</head>
<body class="header-static @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <div id="main-container">
        <header class="header-static">
            @Html.Sitecore().Placeholder("header-top")

            @Html.Sitecore().Placeholder("navbar")
        </header>
        <main role="main">
            @Html.Sitecore().Placeholder("page-layout")
        </main>
        <footer class="bg-dark">
            @Html.Sitecore().Placeholder("footer")
        </footer>

        @Html.Sitecore().Placeholder("page-sidebar")
    </div>
</body>
</html>