@using Sitecore.Feature.Media.Models
@using Synthesis.Mvc.Extensions
@model ICarouselSettingsItem
@{
    var children = Model.Slides.GetItems<ICarouselSlideItem>().ToList();
    var id = Guid.NewGuid().ToString("N");
    var slideButtons = string.Empty;
    var slides = string.Empty;
    var index = 0;

    if (!children.Any())
    {
        return;
    }

    if (Model.ActiveSlide.TargetId.IsGlobalNullId)
    {
        Model.ActiveSlide.TargetId = children.First().Id;
    }

    foreach (var slide in children)
    {
        var active = Model.ActiveSlide.TargetId.Guid.Equals(slide.Id.Guid);
        slideButtons += RenderCarouselSlideButton(index, active);
        slides += RenderCarouselSlide(slide, active);
        index++;
    }
}

<div id="carousel@(id)" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @Html.Raw(slideButtons)
    </ol>

    <div class="carousel-inner" role="listbox">
        @Html.Raw(slides)
    </div>

    <a class="left carousel-control" href="#carousel@(id)" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel@(id)" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@helper RenderCarouselSlideButton(int index, bool isActive)
{
    var activeClass = isActive ? "active" : string.Empty;
    <li data-slide-to="@index" class="@activeClass"></li>
}

@helper RenderCarouselSlide(ICarouselSlideItem slide, bool isActive)
{
    var activeClass = isActive ? "active" : string.Empty;
    <div class="item @activeClass">
        <div class="jumbotron jumbotron-xl bg-media" style="background-image: url('@slide.Image.Url')">
            @if (slide.Video.HasValue)
            {
                <video autoplay="" loop="" muted="" class="video-bg">
                    <source src="@slide.Video.Target.Url" type="video/mp4">
                </video>
            }
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>@slide.Title.Render()</h1>
                        <p class="lead">
                            @slide.Subtitle.Render()
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    require(['media/carousel'], function(Carousel) {
        return new Carousel({
            ele: '#carousel@(id)'
        });
    })
</script>