@using Sitecore.Feature.Navigation.Models
@using Synthesis.Mvc.Extensions
@model ILinkMenuItem
@{
    if (!Model.Children.Any())
    {
        return;
    }
}

<div class="collapse navbar-collapse" id="siteNavbar">
    <ul class="nav navbar-nav @Model.AdditionalStyles.RawValue">
        @foreach (var link in Model.Children.OfType<ILinkMenuItemItem>())
        {
            @RenderLink(link)   
        }
    </ul>
</div>

@helper RenderLink(ILinkMenuItemItem link)
{
    var children = link.Children.OfType<ILinkMenuItemItem>().ToList();
    var hasChildren = children.Any();
    var listItemClass = hasChildren ? "dropdown" : string.Empty;
    var linkClass = hasChildren ? "dropdown-toggle" : string.Empty;
    var linkAttributes = hasChildren ? "data-toggle=\"dropdown\" role=\"button\" aria-haspopup=\"true\" aria-expanded=\"false\"" : string.Empty;

    <li class="@listItemClass">
        <a href="@link.Link.Href" class="@link.Link.CssClass @linkClass" @Html.Raw(linkAttributes)>
            @link.ShowTitle.Render()
            @if (hasChildren)
            {
                <span class="caret"></span>
            }
        </a>

        @if (hasChildren)
        {
            <ul class="dropdown-menu">
                @foreach (var child in children)
                {
                    @RenderLink(child)
                }
            </ul>
        }
    </li>
}